@model Usuario
<div class="container">
    <h3>Dados para Acesso</h3>
    <div class="row">
        <div class="form-group-sm col-sm-3">
            <label asp-for="Nome">Nome</label>
            <input asp-for="Nome" class="form-control" />
        </div>

    </div>
</div>

