@model Estabelecimento
@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar Estabelecimento</h2>
<form asp-action="cadastrar">

<partial name="_Acesso"/>
    
</form>


        UsuarioId
        TipoUsuario Tipo { get; set; }
        Endeco Endeco { get; set; }
        byte[] Foto { get; set; }
